node_modules
.next
.next-*
apps/web/public/images/jpcs-caves.png
apps/web/public/images/jpcs-nether.png
apps/web/public/images/jpcs-world-hero.png
dist
.env
.vercel
coverage
.turbo
pnpm-*.log
.neon
.env.local
plugins/velocity-bridge/build/classes/java/test/
plugins/velocity-bridge/build/reports/tests/
plugins/velocity-bridge/build/test-results/
plugins/velocity-bridge/build/tmp/compileTestJava/
